body {
  text-align: center;
  margin: 10px;
}

header {
  background-color: #b1e0ed;
  padding: 30px;
}

.entry {
  width: 60%;
  height: 100px;
  padding: 10px;
  outline: 0;
  border: 3px solid #1c87c9;
  background: #d0e2bc;
  line-height: 20px;
}

#box-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.textContainer {
  text-align: center;
}

.fontBox {
  margin: 20px;
}

button {
  width: 100px;
  height: 60px;
}

.info-counters {
  margin-left: 300px;
  margin-right: 300px;
}

.info-counters ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background: #2f69a5;
  color: white;
}

.info-counters ul li {
  margin: 20px;
}
